body {
    background-color: #080101;
    font: normal 1em / 1.5em BlinkMacSystemFont, -apple-system, 'Segoe UI', roboto, helvetica, arial, sans-serif;
 }

h1 {
    font-size: 1.5em;
    color: rgb(27, 197, 12);
    text-align: center;
 }

audio {
    display:block;
    margin: auto;
 }